body{
	background-color: cadetblue;
}
.contaners {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	padding; 200px;
	justify-content: center;
}
.card{
	width: 300px;
	margin: 10px;
	box-sizing: border-box;
	box-shadow: 5px 10px 15px black;
	/*border: 5px double green;*/
}
.img-card {
	width: 100%;
	
}
.card-body{
	padding: 10px;
	background-color: #2AC738;
}
.card-body .card-title{
	color: white;
	text-align: center;
	font-size: 2rem;
	font-style: ;
}
.card-body .card-dis{
	text-align: justify;
	line-height: 1.5;
	color: white;
	
}
.card:hover{
	box-shadow: 5px 10px 20px white;
}
